<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smart.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Smart.Dal.Properties.Settings>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source =  SmartTech\SQLEXPRESS; User Id = sa; Password=can722count; Initial Catalog = ShopBillingDB; </value>
            </setting>
            <setting name="SQLConnectionStringHajiganj" serializeAs="String">
                <value>Data Source =  NATIONALCOMPUTE\SQLEXPRESS; User Id = sa; Password=hajigonj12#; Initial Catalog = ShopBillingDb; </value>
            </setting>
            <setting name="SQLConnectionStringZia" serializeAs="String">
                <value>Data Source =  localhost\sqlexpress; User Id = SUL; Password=Pass4App29; Initial Catalog =ShopBillingBD; </value>
            </setting>
        </Smart.Dal.Properties.Settings>
    </applicationSettings>
</configuration>